<br>
<h2 class="text-center">Shopping List</h2>
<section>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <p>Amount of food to buy: <%= @missing_foods.count %></p>
      <p>Total value of food needed: $<%= @missing_foods.sum {|food| food.food.price } %> </p>
    </div>
    <div>
      <p>Inventory: <%= link_to @recipe.name, recipe_path(@recipe) %></p>
      <p>Inventory: <%= link_to @inventory.name, inventory_path(@inventory) %></p>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <% if @missing_foods.any? %>
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
      <% @missing_foods.each do |food| %>
        <tr>
          <td><%= food.food.name%></td>
          <td><%= food.quantity%> <%= food.quantity_unit%></td>
          <td><%= food.food.price%></td>
        </tr>
      <% end %>
      </tbody>
    <% end %>
  </table>
</section>