<p class="text-success"><%= notice %></p>

<h1 class="text-center m-4">Name: <%= @recipe.name %></h1>
<div class="card border border-secondary">
  <div class="card-body d-flex justify-content-between ">
    <div>
      <p class="fs-3">Preparation time: <%= @recipe.preparation_time %>mins</p>
      <p class="fs-3">Cooking time: <%= @recipe.cooking_time %>mins</p>
      <p class="fs-3"> Description: <%= @recipe.description %></p>
    </div>
    <div class="form-check form-switch">
      <div class="d-flex align-items-center">
        <label class="form-check-label me-3 fs-3" for="toggle-btn">Public:</label>
        <%= check_box_tag 'recipe[public]', 1, @recipe.public, class: 'form-check-input fs-3 ms-1', id: 'toggle-btn' %>
      </div>
    </div>
  </div>
</div>


<div class="d-flex mt-4">
  <%= link_to "Back to recipes", recipes_path, class: "btn btn-secondary mx-2" %>
 <a href= <%= "/recipes/#{@recipe.id}/recipe_foods/new" %>>
  <button class="btn-bg-red-big ">Add Ingredient</button>
</a>
  <%# <%= button_to "Destroy this recipe", @recipe, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger mx-2" %> %>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe.recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %></td>
        <td><%= recipe_food.value %></td>
        <td>
          <%= button_to 'Delete', recipe_recipe_food_path(@recipe, recipe_food), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
